@import "../../styles/index";

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-soft;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid $bg;
  border-top: 5px solid $primary;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
