@import "../../styles/index";

.product-detail-main {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 40px 8%;
  @include mobile {
    padding: 1rem;
    gap: 1rem;
  }

  &__lhs {
    width: calc(50% - 1rem);
    @include mobile {
      width: 100%;
    }
    .swiper-cntnr {
      border-radius: $radius-md;
      overflow: hidden;
      border: 1px solid $primary-light;
    }
  }

  &__rhs {
    width: calc(50% - 1rem);
    @include mobile {
      width: 100%;
    }

    .name {
      font-size: $heading-text;
      color: $text-heading;
      line-height: $line-height-tight;
      font-weight: $weight-heading;
      margin-bottom: 10px;
      @include mobile {
        font-size: 1.5rem;
      }
    }

    .desc {
      font-size: $body-text;
      font-weight: $weight-body;
      line-height: $line-height-normal;
      color: $text-body;

      &::first-letter {
        margin-left: 1rem;
      }
    }

    .variants {
      width: 200px;
      margin-top: 1rem;
      border: 1px solid $primary-light;
      border-collapse: collapse;
      @include mobile {
        width: 100%;
      }

      thead {
        th {
          padding: 8px 12px;
          border: 1px solid $primary-light;
          border-collapse: collapse;
        }
      }
      tbody {
        td {
          padding: 8px 12px;
          border: 1px solid $primary-light;
          border-collapse: collapse;
        }
      }
    }

    .contact-box {
      padding: 1rem 0;

      > h4 {
        font-size: $heading-text;
        font-weight: $weight-bold;
        color: $primary;
      }

      > p {
        font-size: $small-text;
        color: $text-muted;
        margin: 0 0 1rem;
      }

      .contact-btns {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: left;
        @include mobile {
          flex-direction: column;
          align-items: stretch;
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding: 0.75rem 1.5rem;
          background-color: $primary;
          color: #fff;
          border-radius: $radius-lg;
          text-decoration: none;
          font-size: $small-text;
          font-weight: $weight-bold;

          > svg {
            font-size: 1.25rem;
          }

          &:hover {
            background-color: $primary-hover;
          }
        }
      }
    }
  }
}
