@import "../../styles/index";

.card {
  width: 300px;
  border-radius: $radius-md;
  text-align: center;
  background: $surface;
  border: 1px solid $border;
  overflow: hidden;
  @include desktop {
    &:hover {
      box-shadow: $shadow-md;
      transition: box-shadow 0.3s ease;
      .card-thumbnail {
        img {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }
      }
    }
  }
  @include mobile {
    width: 100%;
  }

  .card-thumbnail {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-bottom: 1px solid $border;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;

    > strong {
      font-size: $body-text;
      font-weight: $weight-bold;
      line-height: $line-height-normal;
      text-align: left;
      margin-bottom: 1rem;
    }

    .card-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      p {
        width: calc(30% - 0.5rem);
        font-size: $caption-text;
        text-align: left;

        span {
          display: block;
          font-size: $body-text;
          line-height: $line-height-normal;
          font-weight: $weight-bold;
          color: #388e3c;
          font-weight: bold;
        }
      }

      a {
        width: calc(70% - 0.5rem);

        button {
          width: 100%;
          background: $primary;
          color: $surface;
          border: none;
          padding: 12px 16px;
          border-radius: $radius-lg;
          cursor: pointer;
          font-size: $body-text;
          font-weight: $weight-bold;
        }
      }

      button {
        width: 100%;
        color: $surface;
        border: none;
        padding: 12px 16px;
        border-radius: $radius-lg;
        cursor: pointer;
        font-size: $body-text;
        font-weight: $weight-bold;

        &.edit-btn {
          background-color: $warning;
        }

        &.delete-btn {
          background-color: $error;
        }
      }
    }
  }
}
